# ─── PostgreSQL ───────────────────────────────────────────────────────────────
POSTGRES_USER=odoo
POSTGRES_USER_LEMA=lema
POSTGRES_USER_DEMO18E=demo18e
POSTGRES_USER_DEMO18C=demo18c
POSTGRES_PORT=8115
POSTGRES_PASSWORD=pLWXVrxbwDxr8CyZmEI7
POSTGRES_DB=postgres
PG_BOUNCER_PORT=8613

ODOO_LEMA_HTTP_PORT=8018
ODOO_LEMA_LONGPOLLING_PORT=8027
ODOO_DEMO18E_HTTP_PORT=8118
ODOO_DEMO18E_LONGPOLLING_PORT=8127
ODOO_DEMO18C_HTTP_PORT=8218
ODOO_DEMO18C_LONGPOLLING_PORT=8227

REDIS_EXTERNAL_PORT=8031
ODOO_SESSION_REDIS=1
ODOO_SESSION_REDIS_HOST=redis
ODOO_SESSION_REDIS_PORT=6379
ODOO_SESSION_REDIS_PASSWORD=QtU545FCcqfH8C4Jec2k
ODOO_SESSION_REDIS_SSL=false
ODOO_SESSION_REDIS_SSL_CERT_REQS=none
ODOO_SESSION_REDIS_CLUSTER=false
ODOO_SESSION_REDIS_URL=redis://:QtU545FCcqfH8C4Jec2k@redis:6379/0
ODOO_SESSION_REDIS_PREFIX=mazuta
ODOO_SESSION_REDIS_EXPIRATION=604800
ODOO_SESSION_REDIS_EXPIRATION_ANONYMOUS=10800
